@import 'variables';
@import 'header';
@import 'parallax';
@import 'pageOne';
@import 'pageTwo';
@import 'pageThree';
@import 'pageFour';
@import 'footer';

.app {
    color: white;
    font-family: 'Roboto Slab', sans-serif;
}

.nav-link {
    color: white;
    margin: 0px;
}

.nav-link:hover {
    color: $site-color-blue;
}

.socialmedia__nav-links {
    font-size: 2em;
    width: 350px;
    display: flex;
    justify-content: space-between;
}