@import 'parallax';
@import 'pageOne';
@import 'pageTwo';
@import 'pageThree';
@import 'pageFour';

.app {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.header{
    font-size: 1.1em;
    background-color: rgba(0,0,0,0.35);
    height: 60px;
    width: 100%;
    display: grid;
    grid-template-columns: 100px 1fr;

    &__logo {
        width: 60px;
        height: 60px;
        border-radius: 30px;
    }

    &__rightColumn {
        display: grid;
        grid-template-columns: repeat(4, 1fr) 100px;;
    }

    &__nav-link {
        display: grid;
        height: 60px;
        justify-items: center;
        align-items: center;
    }
}

.footer{
    background-color: black;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 100px 1fr;

    &__topRow {
        display: grid;
        margin-top: 30px;
        justify-items: center;
        align-items: center;
    }

    &__logo {
        width: 100px;
        height: 100px;
        border-radius: 50px;
    }

    &__bottomRow {
        font-size: 1.1em;
        display: grid;
        margin-top: 40px;
        margin-bottom: 20px;
        grid-template-rows: repeat(5, 1fr);
        justify-items: center;
        align-items: center;
    }
}

.about-me {
    background-color: rgba(0,0,0,0.35);
    width: 1000px;
}

.my-clock {
    background-color: #000ce8;
    font-family: 'Lobster', cursive;
    padding-left: 10px;
    padding-top: 4px;
    box-shadow: inset 0px 1px 5px 4px rgba(0,0,0,0.25);
    height: 60px;
}

.site_examples {
    height: 270px;
    width: 473px;
}