.pageTwo {
    &__parallax {
        background-image: url(../../static/assets/images/max-nelson-492729-unsplash.jpg);
        @include parallax;
        height: 100vh;
       
    }

    &__portfolio__info {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
    }

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
        background-color: $site-color-blue;
        height: 150px;
        @include box-shadow-bottom;
    }

    &__portfolio__examples {
        display: grid;
        align-content: center;
        justify-items: center;
        height: 500px;
        
        &__links {
            color: white;
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;

            &__paragraphs {
                margin-top: 0;
                margin-bottom: 1rem;
                padding-left: 30px;
                padding-right: 10px;
                align-self: center;
                display: flex;
            }
        }
        &__links:hover {
            color: rgb(117, 210, 250);
            text-decoration: none;
        }
    }

    &__portfolio__header {
        margin-bottom: 0px;
        font-size: 3.5em;
    }
}

.site_examples {
    margin-top: 20px;
    height: 220px;
    width: 440px;
}

a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}