.pageTwo {
    &__parallax {
        background-image: url(../../static/assets/images/max-nelson-492729-unsplash.jpg);
        @include parallax;
        height: 100vh;
        padding-top: 60px;
    }

    &__portfolio__info {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
    }

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
        background-color: $site-color-blue;
        height: 150px;
        @include box-shadow-bottom;
    }

    &__portfolio__examples {
        display: grid;
        align-content: center;
        justify-items: center;
        height: 500px;
    }

    &__portfolio__header {
        margin-bottom: 0px;
        font-size: 3.5em;
    }
}

.site_examples {
    margin-top: 20px;
    height: 220px;
    width: 440px;
}