.pageThree {
    &__parallax {
        background-image: url(../../static/assets/images/max-nelson-748768-unsplash.jpg);
        @include parallax;
        padding-top: 60px;
    }
}

.about-me {
    width: 1000px;
}