@import 'parallax';

.pageOne {

    &__parallax {
        background-image: url(../../static/assets/parallax.jpg);
        @include parallax;
    }

    &__initialinfo {
        height: 100vh;
        display: grid;
        grid-template-rows: 1fr;

        &__content {
            grid-row: 1/-1;
            align-self: end;
        }
    }
}