.pageOne {

    &__parallax {
        background-image: url(../../static/assets//images/ales-nesetril-734016-unsplash.jpg);
        @include parallax;
    }

    &__initialinfo {
        height: 100vh;
        display: grid;
        grid-template-rows: 1fr;
        grid-auto-columns: 1fr 1fr;

        &__content {
            grid-row: 1/-1;
            align-self: end;
        }
    }

    .homepage-socialmedia__nav-links {
        grid-column: 2/3;
        align-self: end;
        justify-self: end;
        font-size: 2em;
    }
}